<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Tarefa</title>
    <style>
        body{text-align: center; background-color: greenyellow;}
    </style>
</head>

<body>
    {% block content %}

        <form action="" method="post">
        {% csrf_token %}

            {{ form }}
    
        <input type="submit"  value="Cadastrar" placeholder="Digite a tarefa">

        </table>

    {% endblock %}
</body>